header img{
	width: 480px;
	height: 120px;
}

header .logo{
	width: 100%;
	height: 60px;
	background-color: black;
	color: white;
}

header li{
	list-style: none;
	float: left;
	padding-right: 120px;
	font-size: 20px;
	padding-top: 15px;
}

main{
	clear: left;
}

main .left{
	width: 70%;
	float: left;
	margin-bottom: 40px;
}
main h1{
	
	border-left: 6px solid black;
	border-bottom: 3px solid black;
	padding-left: 8px;
	
}

main .pic1{
	padding-bottom: 30px;
}
main .pic1 img{
	float: left;
	width: 20px;
	height: 20px;
}
main .pic1 .text{
	float: left;
}

main .left .pic1 .text{
	font-size: 22px;
}

main .left .pic2 img{
	width: 100%;
	
}

main .left p{
	font-size: 18px;	
}

.pic3{
	width: 100%;
	height: 535px;
	background-color: lightgray;
	
}

.pic3sub img{
	width: 100%;
	height: auto;
}

.pic3main{
	width: 23%;
	height: 45%;
	float: left;
	margin-left: 10px;
	margin-right: 6px;
	margin-top: 10px;
}

.pic3 p{
	text-align: center;
	font-size: 10px;
}

main .right{
	width: 25%;
	float: right;
}

main .subtitle{
	border-bottom: 2px dotted black;
}

main .right li{
	list-style: none;
	font-size: 20px;
	margin-bottom: 5px;
}

main .right .text3 li{
	margin-left: 20px;
}

footer{
	clear: both;
	width: 100%;
	height: 60px;
	background-color: black;
	color: white;
	font-size: 22px;
	text-align: center;
	line-height: 60px;
	margin-top: 40px;
}









